.login{
    padding-left: 30%;
    padding-top: 10%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.reg{
    display: flex;
    justify-content: space-between;
}

b{
    font-size: 40px;
}

.input{
    width: 400px;
    height: 30px;
    border: 2px solid black;
    padding-left: 2%;
}

.but{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
}
