.login{
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    height: 400px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

b{
    font-size: 40px;
    text-align: center;
}

.but{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fon{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 210px;
    border: 5px solid black;
}

.block1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buts{
    padding-left: 290px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 150px;
    border: 5px solid black;
    border-collapse: collapse;
}

td, th{
    border: 5px solid black;
    text-align: center
}

header{
    width: 700px;
    margin: 0 auto;
    height: 50px;
    padding-left: 20%;
    padding-top: 2%;
    background-color: rgb(0, 255, 157)
}
body{
    margin: 0;
}